<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bunkers and Badasses</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>displayGunsSubmenu = !displayGunsSubmenu">
                <span class="oi oi-fire" aria-hidden="true"></span> Generate Guns
            </NavLink>

            @if (displayGunsSubmenu)
            {
                <div class="nav-item ms-4">
                    <NavLink class="nav-link nav-link-submenu" href="gun-crafter">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Craft
                    </NavLink>
                    <NavLink class="nav-link nav-link-submenu" href="gun-randomizer">
                        <span class="oi oi-random" aria-hidden="true"></span> Randomize
                    </NavLink>
                    <NavLink class="nav-link nav-link-submenu" href="gunxplosion">
                        <span class="oi oi-basket" aria-hidden="true"></span> Batch
                    </NavLink>
                </div>
            }

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>displayShieldsSubmenu = !displayShieldsSubmenu">
                <span class="oi oi-shield" aria-hidden="true"></span> Shield Mods
            </NavLink>

            @if (displayShieldsSubmenu)
            {
                <div class="nav-item ms-4">
                    <NavLink class="nav-link nav-link-submenu" href="shield-crafter">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Craft
                    </NavLink>
                    <NavLink class="nav-link nav-link-submenu" href="shield-randomizer">
                        <span class="oi oi-random" aria-hidden="true"></span> Randomize
                    </NavLink>
                    <NavLink class="nav-link nav-link-submenu" href="shieldxplosion">
                        <span class="oi oi-basket" aria-hidden="true"></span> Batch
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>displayGrenadeModsSubmenu = !displayGrenadeModsSubmenu">
                <span class="oi oi-sun" aria-hidden="true"></span> Grenades Mods
            </NavLink>
            @if (displayGrenadeModsSubmenu)
            {
                <div class="nav-item ms-4">
                    <NavLink class="nav-link nav-link-submenu" href="grenade-crafter">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Craft
                    </NavLink>
                    <NavLink class="nav-link nav-link-submenu" href="grenade-randomizer">
                        <span class="oi oi-random" aria-hidden="true"></span> Randomize
                    </NavLink>    
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>displayRelicsSubmenu = !displayRelicsSubmenu">
                <span class="oi oi-script" aria-hidden="true"></span> Dig for Relics
            </NavLink>            
            @if (displayRelicsSubmenu)
            {
                <div class="nav-item ms-4">
                    <NavLink class="nav-link nav-link-submenu" href="relic-crafter">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Craft
                    </NavLink>
                    <NavLink class="nav-link nav-link-submenu" href="relic-randomizer">
                        <span class="oi oi-random" aria-hidden="true"></span> Randomize
                    </NavLink>
                </div>
            }

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="potion">
                <span class="oi oi-beaker" aria-hidden="true"></span> Potions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="moxxtails">
                <span class="oi oi-droplet" aria-hidden="true"></span> Grab a Moxx-Tail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enemy-drops">
                <span class="oi oi-target" aria-hidden="true"></span> Enemy Drops
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dice-chest">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Dice Chests
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unassuming-chest">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Unassuming Chests
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cache-rolls">
                <span class="oi oi-yen" aria-hidden="true"></span> Cache Rolls
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trauma">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Trauma-tize-me
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quest-builder">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Quest Builder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spell">
                <span class="oi oi-moon" aria-hidden="true"></span> Spells
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="credits">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Credits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shop">
                <span class="oi oi-cart" aria-hidden="true"></span> Shop (Beta)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/amvi88/BunkersAndBadasses">
                <span class="oi oi-fork" aria-hidden="true"></span> See the source
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool displayGunsSubmenu = false;

    private bool displayShieldsSubmenu = false;

    private bool displayRelicsSubmenu = false;

    private bool displayGrenadeModsSubmenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}