@page "/cache-rolls"
@namespace Application.Pages
@using Business;
@using Business.Services;
@using Models.Builder;
@using Models.Common;
@using System.Linq;

@inject IChestService<CacheRollServiceParameters> service;
@inject ILogger<CacheRollCrafter> logger


<PageTitle>B&B: Jackpot!</PageTitle>
<h1>Cache Roll</h1>
<hr />

<EditForm Model=@parameters OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

   <div class="form-group" >
     <label class="col-md-4 control-label">Player Level:</label>
     <div class="col-md-4">
         <InputNumber @bind-Value="parameters.PlayerLevel" name="PlayerLevel" class="form-control" aria-label="Player Level"/>
     </div>
  </div>
  <div class="form-group">
     <label class="col-md-4 control-label">Cache Size</label>
     <div class="col-md-4">
       <InputSelect @bind-Value="parameters.CacheRollSize" class="form-control" aria-label="Gun Type">
              @foreach (var cacheRollSize in Enum.GetValues(typeof(CacheRollSize)))
              {
                if ((CacheRollSize)cacheRollSize == CacheRollSize.Tiny)
                {
                  <option value="@cacheRollSize" selected>@(((CacheRollSize)cacheRollSize).GetDescription())</option>
                }                
                else
                {
                  <option value="@cacheRollSize">@(((CacheRollSize)cacheRollSize).GetDescription())</option>
                }
              } 
        </InputSelect>
    </div>
  </div>
  <div class="form-group">
     <label class="col-md-4 control-label">Apply Gold Farmer Potion Bonus?  <input type="checkbox" @bind="parameters.GoldFarmerBonus" aria-label="Apply Gold Farmer Bonus"/></label>
  </div>
  <div class="form-group">
     <label class="col-md-4 control-label">Use Prefixes <input type="checkbox" @bind="parameters.AllowPrefixes" aria-label="Allows Prefixes"/></label>
  </div>
  <div class="form-group">
     <label class="col-md-4 control-label">Use RedTexts <input type="checkbox" @bind="parameters.AllowRedTexts" aria-label="Allows RedText"/></label>
  </div>
  <hr class="divider">
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

@if (!loading)
{
  <div id="cards"  class="chest_container"> 
  @if (chest != null && chest.Items != null && chest.Items.Any())
  {
    foreach(var item in chest.Items)
    {
      if (item is Gold)
      {
        <div class="chest_wrapper">
          <GoldViewer Gold=@((Gold)item)/>
        </div>
      }
      else if (item is Gun)
      {
        <div class="chest_wrapper">
          <GunViewer CraftedGun=@((Gun)item)/>
        </div>
      }
      else if (item is Grenade)
      {
        <div class="chest_wrapper">
          <GrenadeViewer/>
        </div>
      }
      else if (item is GrenadeMod)
      {
        <div class="chest_wrapper">
          <GrenadeModViewer CraftedGrenadeMod=@((GrenadeMod)item)/>
        </div>
      }
      else if (item is Potion)
      {
        <div class="chest_wrapper">
          <PotionViewer CraftedPotion=@((Potion)item)/>
        </div>
      }
      else if (item is Shield)
      {
        <div class="chest_wrapper">
        <ShieldViewer CraftedShield=@((Shield)item)/>
        </div>
      }
      else if (item is Relic)
      {
        <div class="chest_wrapper">
          <RelicViewer CraftedRelic=@((Relic)item)/>
        </div>
      }
    }
  }
</div>
}
else
{
  <Loader></Loader>
}

@code {
  CacheRollServiceParameters parameters = new CacheRollServiceParameters();
  Chest chest = null;

  bool loading = false;

  async Task Roll(EditContext editContext)
  {
    loading = true;
    this.StateHasChanged();
    chest = service.OpenChest(parameters);

    await Task.Delay(500);
    loading = false;
    this.StateHasChanged();
  }
}
