@page "/changelog"
@namespace Application.Pages

<PageTitle>Changelog</PageTitle>


<ul>
  <li> 2022-07-05
    <ul>
      <li> Added changelog</li>
      <li> Added repository information</li>
      <li> ISO rules </li>
    </ul>
  </li>
</ul>
