@page "/changelog"
@namespace Application.Pages

<PageTitle>Changelog</PageTitle>


<ul>
  <li> 2022-07-12
    <ul>
      <li> Made RedText and Prefixes optional</li>
    </ul>
  </li>
  <li> 2022-07-09
    <ul>
      <li> Improved behavior of elemental potions, the element is now randomized</li>
    </ul>
  </li>
  <li> 2022-07-05
    <ul>
      <li> Added changelog</li>
      <li> Added repository information</li>
      <li> ISO rules </li>
    </ul>
  </li>
</ul>
