@page "/credits"

<PageTitle>Credits</PageTitle>

<h1>Thanks and Appreciations</h1>
<p>
    This project wouldn't have been possible without the help and feedback of the community, and specially:

    <ul>
        <li>Guns and Mods Images taken from <a href="https://lootlemon.com">Lootlemon</a>.</li>
        <li>Dice icons available on <a href="https://icon-icons.com/">Icon Icons</a>.</li>
        <li>Mimic, Potions and Gold images by <a href="game-icons.net">game-icons.net</a> under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</li>
        <li>Explosion icons created by  <a href="https://www.flaticon.com/free-icons/explosion" title="explosion icons">Freepik - Flaticon</a></li>
        <li>Crosshair icons created by <a href="https://www.flaticon.com/free-icons/crosshair" title="crosshair icons">Ilham Fitrotul Hayat - Flaticon</a></li>
        <li>Shield icons created by <a href="https://www.flaticon.com/free-icons/shield" title="shield icons">Those Icons - Flaticon</a></li>
        <li>Exchange icons created by <a href="https://www.flaticon.com/free-icons/exchange" title="exchange icons">Uniconlabs - Flaticon</a></li>
        <li>Dice icons created by <a href="https://www.flaticon.com/free-icons/dice" title="dice icons">Freepik - Flaticon</a></li>
        <li>Claptrap animation by <a href="https://codepen.io/Rove">Romain Magri</a>.</li>
        <li>SpaceMarine font by <a href="https://www.dafont.com/space-marine.font">Joiro Hatagaya</a>.</li>
        <li>NanumPenScript font by <a href="https://www.dafont.com/space-marine.font">Google Fonts</a>.</li>
    </ul>
</p>

<div class="bottom-right">
    <p class="tina-text">Real badasses eat chocolate chip cookies<br>I'ma gonna get that tattooed across my back in Old English font.</p>
</div>
