@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;
  <div id="cards"  class="card_container">  

    <figure class="card card--gold" id="lewt">
      <div class="card__image-container">
        <img src=@GetGoldImage alt="gold" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name"> @Gold.Amount</h1>
        
        <h3 class="card__type">
         Gold
        </h3> 
      </figcaption>
    </figure>
  </div>

@code {
    [Parameter]
    public Gold Gold { get; set; }
    public string GetGoldImage => $"images/resources/chests/gold.png";
}