@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;

    <figure class="card card--gold" id="@GetElementId()">
      <div class="card__image-container">
        <img src=@GetGoldImage alt="gold" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name"> @Gold.Amount</h1>
        
        <h3 class="card__type">
         Gold
        </h3> 
      </figcaption>
    </figure>

@code {
    [Parameter]
    public Gold Gold { get; set; }
    public string GetGoldImage => $"images/resources/chests/gold.png";

    public override string GetElementId()
    {
      return "gold";
    }

    public override string GetFileName()
    {
      return "gold.png";
    }
}