@page "/grenade"
@namespace Application.Pages
@using Application.Models 
@using Business;
@using Business.Models;
@using Business.Models.Common;
@using Business.Factories;

@inject IItemFactory<Grenade> grenadeFactory;
@inject ILogger<GrenadeCrafter> logger


<PageTitle>Grenade</PageTitle>

<EditForm Model=@grenadeBuilder OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

  <div class="form-group" >
     <label class="col-md-4 control-label">Player Level:</label>
     <div class="col-md-8">
         <InputNumber @bind-Value="grenadeBuilder.PlayerLevel" name="PlayerLabel" class="form-control"/>
     </div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

<GrenadeViewer CraftedGrenade=@grenade FileName="grenade.png"/>

@code {
  GrenadeBuilderModel grenadeBuilder = new GrenadeBuilderModel();
  Grenade grenade = null;

  void Roll(EditContext editContext)
  {
    logger.LogDebug("Roll");
    grenade = grenadeFactory.Manufacture(grenadeBuilder.PlayerLevel, null);
  }
}
