@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;
  <div id="cards"  class="card_container">  

    <figure class="card card--normal" id="lewt">
      <div class="card__image-container">
        <img src=@GetGrenadeImage alt="gold" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name"> A grenade!</h1>
        
        <h3 class="card__type">
         Grenade
        </h3> 
      </figcaption>
    </figure>
  </div>

@code {

    public string GetGrenadeImage => $"images/resources/grenades/grenade.png";
}