@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;

    <figure class="card card--normal" id="@GetElementId()">
      <div class="card__image-container">
        <img src=@GetGrenadeImage alt="gold" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name"> A grenade!</h1>
        
        <h3 class="card__type">
         Grenade
        </h3> 
      </figcaption>
    </figure>
@code {

    public string GetGrenadeImage => $"images/resources/grenades/grenade.png";

    private Guid id = Guid.NewGuid();
    public override string GetElementId()
    {
      return $"Grenade-{id}";
    }

    public override string GetFileName()
    {
      return "grenade.png";
    }
}