body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card__stats .icon {
  width: 1em;
  vertical-align: text-top;
  margin-top: .1em;
  margin-left: .2em 
}

.card__guild_image{
  position: relative;
  bottom: 20px;
  left: 0;
  max-height: 40px;
}

img.dice_small 
{
  width: 32px;
  height: 32px;
  display:inline-block;
}

.card_label
{
  text-align: center;
}