@page "/grenade"
@namespace Application.Pages
@using Business;
@using Models;
@using Models.Common;
@using Models.Builder;
@using Business.Factories;

@inject IItemFactory<Grenade, GrenadeFactoryParameters> factory;
@inject ILogger<GrenadeCrafter> logger


<PageTitle>B&B: Build-a-boom</PageTitle>
<h1>Grenades</h1>
<hr />
<EditForm Model=@grenadeBuilder OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

  <div class="form-group" >
     <label class="col-md-4 control-label">Player Level:</label>
     <div class="col-md-8">
         <InputNumber @bind-Value="grenadeBuilder.PlayerLevel" name="PlayerLevel" class="form-control" aria-label="Player Level"/>
     </div>
  </div>
  <hr class="divider">
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

@if (grenade != null)
{
  <div id="cards"  class="card_container"> 
    <GrenadeViewer CraftedGrenade=@grenade.Item/>
  </div>
}

@code {
  GrenadeFactoryParameters grenadeBuilder = new GrenadeFactoryParameters();
  ItemWrapper<Grenade> grenade = null;

  void Roll(EditContext editContext)
  {
    logger.LogDebug("Roll");
    grenade = factory.Manufacture(grenadeBuilder);
  }
}
