body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card__redtexts {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.card__redtext > .card__label[b-62go5clab6] {
  color: #f0061f;
  font-weight: 500;
  font-size: .75em;
}

.card__hits {
  margin: 1em 0;
  width: 100%;
}

.card__hits caption{
  margin: 1em 0;
  width: 100%;
  caption-side: top;
  font-size: medium;
  text-align: center;
}

.card__hits th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}

.card__hits th, .card__hits td {
  width: 33%;
  padding: 0.25em 0.5em 0;
}

.card__ability {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.card__ability:nth-child(1)
{
  margin-top: 1em;
}

img.dice_small 
{
  width: 32px;
  height: 32px;
}

.card__hits .icon {
  width: 1em;
  vertical-align: text-top;
  margin-top: .1em;
  margin-left: .2em 
}

.rarity_common {
  color: rgb(255,255,255);
  text-shadow: 0px 0px 3px grey;
}

.rarity_uncommon {
  color: rgb(61,210,11);
}

.rarity_rare {
  color: rgb(47,120,255);
}

.rarity_legendary {
  color: rgb(145,50,200);
}

.rarity_epic{
  color: rgb(220,120,0);
}