@page "/"

<PageTitle>Welcome</PageTitle>

<p>
    This is an (ALPHA) unoficial Loot Generator for 2K and Nerdvana Games <a href="https://nerdvanagames.myshopify.com/">Bunkers and Badasses</a> TTRPG Game. 
    All of the data has been painstakingly transcribed by hand from the Book, to avoid having to stop the game just to generate loot.
</p>

<p>
    Guns and Mods Images are taken from <a href="https://lootlemon.com">Lootlemon</a>.
    Dice icons available on <a href="https://icon-icons.com/">Icon Icons</a>
</p>

<p>Todo</p>
<ul>
    <li>Improve User Experience</li>
    <li>Improve Accessibility</li>
    <li>Redo the cards UI</li>
</ul>
