@page "/"

<PageTitle>Welcome</PageTitle>

<p>
    This is an unoficial Loot Generator for 2K and Nerdvana Games <a href="https://nerdvanagames.myshopify.com/">Bunkers and Badasses</a> TTRPG Game. 
    All of the data has been painstakingly transcribed by hand from the Book, to avoid having to stop the game just to generate loot.
</p>

<p>
    Guns and Mods Images are taken from <a href="lootlemon.com">Lootlemon</a>. The UI and General Flow needs a lot of improvement
</p>

<p>Todo</p>
<ul>
    <li>Relics</li>
    <li>Moxx-tails</li>
</ul>
