@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Loot Helper</h1>
<p>
    This is an unofficial Loot Generator for 2K and Nerdvana Games <a href="https://nerdvanagames.myshopify.com/">Bunkers and Badasses</a> TTRPG Game. 
    <br>Right click on a card to download it or copy it to your clipboard. <span class="strike-through">You do you!</span>
    <br><br> <span class="tina-text">Make it RAAAAAAAAAAAAAIN!</span>

</p>


<div class="animation-container">
    <div class="main">
        <div class="antenne"></div>
        <div class="corps"></div>
        <div class="arm-left"></div>
        <div class="arm-right"></div>
        <div class="wheel2"></div>
        <div class="wheel"></div>
    </div>
</div>

<div class="bottom-right">
    <p>
        <span class="tina-text">NO COOKIES ONLY CRUMPETS!</span><br>
        <span class="text-muted">Made with love by @@amvi88</span>
    </p>
</div>
