@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Beta Version</h1>
<p>
    This is an unoficial Loot Generator for 2K and Nerdvana Games <a href="https://nerdvanagames.myshopify.com/">Bunkers and Badasses</a> TTRPG Game. 
    All of the data has been painstakingly transcribed by hand from the Book, to avoid having to stop the game just to generate loot.
</p>

<p>Right click on a card to download it or copy it to your clipboard. You do you!
In order to enable this in Firefox you'll need to the <b>dom.events.asyncClipboard.clipboardItem</b> 
preferences (needs to be set to true). <br>To change preferences in Firefox, visit about:config.
</p>

<p>
    <ul>
        <li>Guns and Mods Images are taken from <a href="https://lootlemon.com">Lootlemon</a>.</li>
        <li>Dice icons available on <a href="https://icon-icons.com/">Icon Icons</a>.</li>
        <li>Mimic, Potions and Gold images by <a href="game-icons.net">game-icons.net</a> under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</li>
        <li><a href="https://www.flaticon.com/free-icons/explosion" title="explosion icons">Explosion icons created by Freepik - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/crosshair" title="crosshair icons">Crosshair icons created by Ilham Fitrotul Hayat - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/shield" title="shield icons">Shield icons created by Those Icons - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/exchange" title="exchange icons">Exchange icons created by Uniconlabs - Flaticon</a></li>
        <li>Claptrap animation by <a href="https://codepen.io/Rove">Romain Magri</a>.</li>
        <li>SpaceMarine font by <a href="https://www.dafont.com/space-marine.font">Joiro Hatagaya</a>.</li>
    </ul>
</p>


<div class="animation-container">
    <div class="main">
        <div class="antenne"></div>
        <div class="corps"></div>
        <div class="arm-left"></div>
        <div class="arm-right"></div>
        <div class="wheel2"></div>
        <div class="wheel"></div>
    </div>
</div>