@page "/moxxtails"
@namespace Application.Pages
@using Business;
@using Models;
@using Models.Common;
@using Models.Builder;
@using Business.Factories;


@inject IItemFactory<MoxxTail, BaseFactoryParameters> factory
@inject ILogger<MoxxTailsCrafter> logger


<PageTitle>B&B: Moxxie has something for you</PageTitle>
<h1>Moxx-Tails</h1>
<hr />
<input type="button" class="btn btn-primary" value="Roll" onclick="@Roll"/>

@if (moxxtail != null)
{
  <div id="cards"  class="card_container">  
    <MoxxTailViewer CraftedMoxxTail=@moxxtail.Item/>
  </div>
}

@code {
  ItemWrapper<MoxxTail> moxxtail = null;

  void Roll()
  {
    logger.LogDebug("Roll");
    moxxtail = factory.Manufacture(null);
  }
}
