@namespace Application.Pages
@using Models.Builder;
@using Models.Common;
@inherits BaseItemViewer;

    <figure class=@GetCardCssClass id="@GetElementId()" @onclick="Download">      
      
      <figcaption class="card__caption">
        <h1 class="card__name"> Moxx-Tail</h1>
        
        <h3 class="card__type">
         @CraftedMoxxTail.Name
        </h3>

        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Effect</th>
              <td>@CraftedMoxxTail.Effect</td>   
            </tr>            
          </tbody>
        </table>        
      </figcaption>
    </figure>


@code {
    [Parameter]
    public MoxxTail CraftedMoxxTail { get; set; }

    public string @GetCardCssClass => "card card--normal";

    public override string GetElementId()
    {
      return $"MoxxTail-{Guid.NewGuid()}";
    }

    public override string GetFileName()
    {
      return $"MoxxTail_{CraftedMoxxTail.Name.Replace(" ","_")}.png";
    }
}