@page "/potion"
@namespace Application.Pages
@using Business;
@using Business.Models;
@using Business.Models.Common;
@using Business.Models.Builder;
@using Business.Factories;


@inject IItemFactory<Potion, BaseFactoryParameters> factory
@inject ILogger<PotionCrafter> logger


<PageTitle>B&B: Mad Brewz</PageTitle>
<h1>Potions</h1>
<hr />

<input type="button" class="btn btn-primary" value="Roll" onclick="@Roll"/>

<div id="cards"  class="card_container">  
  <PotionViewer CraftedPotion=@potion/>
</div>

@code {
  Potion potion = null;

  void Roll()
  {
    logger.LogDebug("Roll");
    potion = factory.Manufacture(null);
  }
}
