@page "/relic"
@namespace Application.Pages
@using Application.Components;
@using Business;
@using Models.Builder;
@using Models.Common;
@using Business.Factories;

@inject IItemFactory<Relic, RelicFactoryParameters> factory;
@inject ILogger<RelicCrafter> logger


<PageTitle>B&B: How Misterious</PageTitle>
<h1>Relics</h1>
<hr />

<EditForm Model=@relicBuilder OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

 <div class="form-group">
     <label class="col-md-4 control-label">Rarity</label>
     <div class="col-md-4">
        <NullableEnumSelect @bind-Value="relicBuilder.Rarity" class="form-control" aria-label="Rarity">
              <option value="">Random</option>
              @foreach (var rarity in Enum.GetValues(typeof(Rarity)))
              {
                  <option value="@rarity">@rarity</option>
              }
          </NullableEnumSelect>
      </div>
  </div>
  <hr class="divider">
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

@if (relic != null)
{
  <div id="cards"  class="card_container">  
    <RelicViewer CraftedRelic=@relic.Item/>
  </div>
}

@code {
  RelicFactoryParameters relicBuilder = new RelicFactoryParameters();
  ItemWrapper<Relic> relic = null;

  void Roll(EditContext editContext)
  {
    logger.LogDebug("Roll");
    relic = factory.Manufacture(relicBuilder);
  }
}
