@page "/relic"
@namespace Application.Pages
@using Application.Models 
@using Business;
@using Business.Models;
@using Business.Models.Common;
@using Business.Factories;

@inject IRelicFactory relicFactory;
@inject ILogger<RelicCrafter> logger


<PageTitle>B&B: How Misterious</PageTitle>

<EditForm Model=@relicBuilder OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

 <div class="form-group">
     <label class="col-md-4 control-label">Rarity</label>
     <div class="col-md-8">
        <InputSelect @bind-Value="relicBuilder.Rarity" class="form-control">
              <option value="null">Random</option>
              @foreach (var rarity in Enum.GetValues(typeof(Rarity)))
              {
                  @if ((int)rarity <= (int)Rarity.Rare)
                  {
                    <option value="@rarity">@rarity</option>
                  }                  
              }
          </InputSelect>
      </div>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

<RelicViewer CraftedRelic=@relic FileName="relic.png"/>

@code {
  RelicBuilderModel relicBuilder = new RelicBuilderModel();
  Relic relic = null;

  void Roll(EditContext editContext)
  {
    logger.LogDebug("Roll");
    relic = relicFactory.Dig(relicBuilder.Rarity);
  }
}
