@page "/relic"
@namespace Application.Pages
@using Business;
@using Business.Models.Builder;
@using Business.Models.Common;
@using Business.Factories;

@inject IItemFactory<Relic, RelicFactoryParameters> factory;
@inject ILogger<RelicCrafter> logger


<PageTitle>B&B: How Misterious</PageTitle>
<h1>Relics</h1>
<hr />

<EditForm Model=@relicBuilder OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

 <div class="form-group">
     <label class="col-md-4 control-label">Rarity</label>
     <div class="col-md-8">
        <InputSelect @bind-Value="relicBuilder.Rarity" class="form-control" aria-label="Rarity">
              <option value="null">Random</option>
              @foreach (var rarity in Enum.GetValues(typeof(Rarity)))
              {
                  @if ((int)rarity <= (int)Rarity.Rare)
                  {
                    <option value="@rarity">@rarity</option>
                  }                  
              }
          </InputSelect>
      </div>
  </div>
  <hr class="divider">
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

<div id="cards"  class="card_container">  
  <RelicViewer CraftedRelic=@relic/>
</div>

@code {
  RelicFactoryParameters relicBuilder = new RelicFactoryParameters();
  Relic relic = null;

  void Roll(EditContext editContext)
  {
    logger.LogDebug("Roll");
    relic = factory.Manufacture(relicBuilder);
  }
}
