@page "/relic-randomizer"
@namespace Application.Pages
@using Application.Components;
@using Models.Builder;
@using Models.Common;
@using Business.Services;

@inject IRelicService service;
@inject ILogger<RelicRandomizer> logger


<PageTitle>B&B: How Mysterious</PageTitle>
<h1>Relic Randomizer</h1>
<hr />

<EditForm Model=@relicBuilder OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

 <div class="mb-3">
     <label class="col-md-4 control-label">Rarity</label>
     <div class="col-md-4">
        <NullableEnumSelect @bind-Value="relicBuilder.Rarity" class="form-control" aria-label="Rarity">
              <option value="">Random</option>
              @foreach (var rarity in (Rarity[])Enum.GetValues(typeof(Rarity)))
              {
                 @if (rarity != Rarity.Pearlescent)
                 {
                    <option value="@rarity">@rarity</option>
                 }                  
              }
          </NullableEnumSelect>
      </div>
  </div>
  <hr class="divider">
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>

@if (relic != null)
{
  <div id="cards"  class="card_container">  
    <RelicViewer CraftedRelic=@relic.Item/>
  </div>
}

@code {
  RelicRandomizerFactoryParameters relicBuilder = new RelicRandomizerFactoryParameters();
  ItemWrapper<Relic> relic = null;

  void Roll(EditContext editContext)
  {
    logger.LogDebug("Roll");
    relic = service.RandomizeRelic(relicBuilder);
  }
}
