body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card__stats .icon {
  width: 1em;
  vertical-align: text-top;
  margin-top: .1em;
  margin-left: .2em 
}

.card_label
{
  text-align: center;
}

.card__game_icon {
  position: absolute;
  width: 36px;
  float: right;
  left: .99em;
  top: 1.2em
}
