.chest_container
{
  margin: 0 auto;
  margin-top: 1em;
  display: grid;
  gap: 1rem;
}

/* Screen lesser than 600px? 1 column */
@media (max-width: 600px) {
  .chest_container { grid-template-columns: repeat(1, 1fr); }
}

/* Screen larger than 600px? 2 column */
@media (man-width: 1000px) {
  .chest_container { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .chest_container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
  .chest_container { grid-template-columns: repeat(4, 1fr); }
}