 .card_container {
   margin-top: 2em;
 }

 .card {
   display: inline-block;
   width: 350px;
   min-width: 300px;
   max-width: 350px;
   padding: 1em;
   border-radius: 15px;
   background: #ddd;
   text-align: left;
   -webkit-box-shadow: 0px 5px 20px -10px #111111;
   box-shadow: 0px 5px 20px -10px #111111;
   position: relative;
 }

 .card__caption {
   background-color: rgba(255, 255, 255, 0.9);
   padding: 1em;
   position: relative;
   border-radius: 0 0 3px 3px;
 }

 .card__image-container {
   background-color: rgba(0, 0, 0, 0.7);
   text-align: center;
   padding: 1em 1em 0;
   border-radius: 3px 3px 0 0;
 }

 .card__type {
   position: absolute;
   top: 0;
   right: 1em;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   color: #ffffff;
   text-transform: uppercase;
   font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
   letter-spacing: 0.1em;
   padding: 0.25em;
   line-height: 1;
   border-radius: 2px;
   background: #bbbbbb;
   font-size: medium;
 }

 .card__label {
   font-size: 10px;
   text-transform: uppercase;
   font-weight: 400;
   display: bold;
   margin-bottom: 3px;
 }

 .card__name {
   font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
   text-align: center;
   font-size: 1.5em;
   font-weight: 700;
   letter-spacing: 0.02em;
   text-transform: uppercase;
 }

 .card__guild {
   text-transform: uppercase;
   text-align: center;
 }

 .card__stats {
   margin: 1em 0;
   width: 100%;
 }

 .card__stats th {
   font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
   text-align: right;
   font-weight: 300;
 }

 .card__stats th,
 .card__stats td {
   width: 50%;
   padding: 0.25em 0.5em 0;
 }

 .card__abilities {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   flex-direction: column;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .card__ability {
   -webkit-box-flex: 1;
   -ms-flex: 1 0;
   flex: 1 0;
 }

 .card__ability:nth-child(1) {
   margin-top: 1em;
 }

 .card--normal {
   background: linear-gradient(110deg, #81807f 0%, #cfbdf0 100%);
   -webkit-box-shadow: 0px 5px 20px -10px #cfbdf0;
   box-shadow: 0px 5px 20px -10px #cfbdf0;
 }

 .normal {
   background-color: #81807f;
 }

 .shock_corrosive {
   background-color: #6e7f0e;
 }

 .shock {
   background-color: #1CB5E0;
 }

 .radiation {
   background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
   background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
 }

 .card--radiation .card__type {
   background-color: #000;
 }

 .incendiary {
   background-color: #c71800;
 }

 .corrosive {
   background: #6e7f0e;
 }

 .cryo {
   background: #6fb8eb;
 }

 .explosive {
   background: #ffd900;
 }

 .explosive_cryo {
   background: linear-gradient(250deg, #ffe866 0%, #a0eaf1 46%, #6fb8eb 100%);
 }

 .incendiary_radiation {
   background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #c71800), to(#ffde00));
   background: linear-gradient(0deg, #c71800 10%, #ffde00 100%);
 }

 .shock_corrosive {
   background: linear-gradient(140deg, #1CB5E0 0%, #6e7f0e 69%, #275009 100%);
   -webkit-box-shadow: 0px 5px 20px -10px #275009;
   box-shadow: 0px 5px 20px -10px #275009;
 }

 .rarity_common {
   color: rgb(255, 255, 255);
   text-shadow: 0px 0px 3px grey;
 }

 .rarity_uncommon {
   color: rgb(61, 210, 11);
 }

 .rarity_rare {
   color: rgb(47, 120, 255);
 }

 .rarity_legendary {
   color: rgb(145, 50, 200);
 }

 .rarity_epic {
   color: rgb(220, 120, 0);
 }

 .card--common {
   background: linear-gradient(110deg, #81807f 0%, #cfbdf0 100%);
   -webkit-box-shadow: 0px 5px 20px -10px #cfbdf0;
   box-shadow: 0px 5px 20px -10px #cfbdf0;
 }

 .card--uncommon {
   background: rgb(61, 210, 11);
   -webkit-box-shadow: 0px 5px 20px -10px #cfbdf0;
   box-shadow: 0px 5px 20px -10px #cfbdf0;
 }

 .card--rare {
   background: rgb(47, 120, 255);
   -webkit-box-shadow: 0px 5px 20px -10px #cfbdf0;
   box-shadow: 0px 5px 20px -10px #cfbdf0;
 }

 .card--epic {
   background: rgb(145, 50, 200);
   -webkit-box-shadow: 0px 5px 20px -10px #cfbdf0;
   box-shadow: 0px 5px 20px -10px #cfbdf0;
 }

 .card--legendary {
   background: rgb(220, 120, 0);
   -webkit-box-shadow: 0px 5px 20px -10px #cfbdf0;
   box-shadow: 0px 5px 20px -10px #cfbdf0;
 }