name: Build and Deploy to Azure
on:
  push:
    branches: [ "main" ]

env:
  AZURE_WEBAPP_NAME: 'bunkers-and-badasses-app'   # Your App Service name
  ACR_LOGIN_SERVER: 'bnbregistry.azurecr.io'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push image
        run: |
          docker build -t ${{ env.ACR_LOGIN_SERVER }}/myapp:${{ github.sha }} ./Application/Dockerfile
          docker push ${{ env.ACR_LOGIN_SERVER }}/myapp:${{ github.sha }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          images: '${{ env.ACR_LOGIN_SERVER }}/myapp:${{ github.sha }}'
